<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/juan/IntellijProjects/TwoPLUGS/Task3/src/test/java/com/twoplugs/test/ChangeEmailTest01.java"><classes><class name="com.twoplugs.test.ChangeEmailTest01"><methods><include name="ChangeEmailAction"/></methods></class></classes></test></suite>